.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  height: 80px; 
  background-image: url(./images/header.jpg);
}

.bookmark-title {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  
}


.bookmarks {
  background-color: black;
}

.bookmark {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  align-items: center;
  background-image: url(./images/header.jpg);
  width: 200px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.bookmark a {
  text-decoration: none;
  color: #332525;
  transition: color 0.3s ease; 
  font-size: large;
  text-shadow: 2px 2px 4px rgba(79, 48, 48, 0.6);
  
}


.bookmark a:hover {
  color: white; 
  text-decoration: underline;
}

.bookmarks-container {
  display: flex;
  flex-direction: column; /* Ensure bookmarks stack vertically */
  align-items: center; /* Vertically center bookmarks */
  justify-content: center; 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.modal-content {
  background-image: url(./images/header.jpg);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(54, 46, 46, 0.5);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-decoration: none;
  color: #332525;
  transition: color 0.3s ease; 
  font-size: large;
  text-shadow: 2px 2px 4px rgba(79, 48, 48, 0.6);
}
